.original {
    --primary: slategray;
    --secondary: rgb(133, 154, 172);
    --light-text: rgb(131, 131, 131);
    --accent: rgb(239, 148, 74);
    --accent-hover: rgb(208, 129, 65);
}

.original {
    --primary: rgb(29, 29, 29);
    --secondary: rgb(54, 54, 54);
    --light-text: rgb(131, 131, 131);
    --accent: rgb(239, 148, 74);
    --accent-hover: rgb(208, 129, 65);
}

body {
    /* MAKING THE SIZE OF THE BODY THE FULL SIZE OF THE WEBPAGE */
    width: 100%;
    height: 100%;
    /* CENTERING ALL THE CONTENT IN THE BODY */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* BASIC STYLING TO MAKE IT LOOK DECENT */
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    color: white;
}

.heading {
    color: var(--accent);
    text-align: center
}

.posts-container {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.list-of-posts-container {
    width: 70%;
    max-width: 1200px;
}

.list-of-posts {
    overflow-y: scroll;
    height: 550px;
    background-color: var(--secondary);
}

.single-post {
    color: white;
    padding: 8px 12px;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 20px;
}

.single-post h2 {
    margin: 0;
    padding: 0;
}

.post-user {
    color: var(--accent-hover);
    margin: 0;
    padding: 0;
}

.post-content {
    margin: 10px 0 0 0;
    padding: 0;
    word-wrap: break-word;
    line-height: 1.4;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.create-form input, .create-form textarea {
    background-color: var(--secondary);
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    resize: none;
    width: 93%;
}

.create-form input:focus-visible, .create-form textarea:focus-visible {
    outline: none;
}

.create-form button {
    padding: 8px 12px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: var(--accent);
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 20px;
}

.create-form button:hover {
    background-color: var(--accent-hover);
}

.user-controls button {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 20px 0 0 0;
    padding: 8px 12px;
    border: none;
    background-color: var(--accent);
    transition: background-color 0.3s;
    cursor: pointer;
}

.user-controls button:hover {
    background-color: var(--accent-hover)
}
